body{
  background-image:url("../images/background.jpg");
  background-position: center;
}
.header{
  background:grey;
  display: flex;
}
h1{
  padding:2%;
}
ul{
  margin-left: auto;
  padding:2%;
}
li{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin:0 4px;
}
a{
  color:white;
}
.moving-images{
  width:100%;
  height: auto;
}

/* Photo Section */

.MarriagePhotos, .PreWeddingPhotos, .Shoots, .MusicVideos{
  padding: 5% 7%;
  background:cyan;
  border:1px solid grey;
  text-align:bottom;
}
.MarriagePhotos{
  background-image: url('../images/p2.jpg');
}
