body{
  background-image:url("../images/background.jpg");
  background-position: center;
}
.header{
  background:grey;
  display: flex;
}
h1{
  padding:2%;
}
ul{
  margin-left: auto;
  padding:2%;
}
li{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin:0 4px;
}
a{
  color:white;
}
.carousel-item{
  width:100%;
  height:34rem;
}


/* Photo Section */
#PhotoSection {
  margin-top: auto;
}
.MarriagePhotos, .PreWeddingPhotos, .Shoots, .MusicVideos{
  padding: 5% 7%;
  background:cyan;
  text-align:bottom;
}
.MarriagePhotos{
  background-image: url('../images/p2.jpg');
}
